<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="searchFight" type="SearchFight.Configuration.SearchFightSection, SearchFight" />
  </configSections>

  <appSettings>
    <add key="googleSearchUrl" value="https://www.google.com/search?q=" />
    <add key="bingSearchUrl" value="https://www.bing.com/search?q=" />
  </appSettings>

  <searchFight>
    <searchers>
      <searcher
        name="Google" type="SearchFight.Searchers.GoogleSearcher, SearchFight"
        url="https://www.googleapis.com/customsearch/v1?key=AIzaSyDrEhq4rFqT_xX3mnaOuoCE9p29z4GxFCc&amp;cx=004811311664966269537:viy86g_ls9s&amp;q=">
      </searcher>

      <searcher
        name="Bing" type="SearchFight.Searchers.BingSearcher, SearchFight"
        url="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q=" >
        <headers>
          <header key="Ocp-Apim-Subscription-Key" value="dd239b9d93e545c9b91ceaca807e10eb" />
        </headers>
      </searcher>
      
    </searchers>
  </searchFight>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>